{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'autor/css/style.css' %}">
    <title>Сторінка автора</title>
</head>
<body>
    <a class='a' href="http://127.0.0.1:8000/autor/">Автор</a>
    <a class='a' href="http://127.0.0.1:8000/book/">Книга</a>
    <a class='a' href="http://127.0.0.1:8000/">Головна сторінка</a>
    <h1>Це сторінка автора</h1>
</body>
</html>